html {
  height: 100%;
}
body {
    min-height: 100%;
    background-size: 50px 50px;
    background-image: radial-gradient(circle, #900 1px, rgba(25, 25, 25, 200) 1px);
}

#container {
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  min-width: 750px;
  min-height: 750px;
}

.cube-container {
  perspective: 10000px;
  position: fixed;
  height: 700px;
  width: 700px;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -350px;
}

.oscillation-wrapper {
  margin: 0;
  transform-style: preserve-3d;
}

.oscillate {
  animation: oscillate 20s cubic-bezier(.05,.0,.95,1) forwards infinite;
}

.stop-oscillation {
  animation: stop-oscillation 10s cubic-bezier(.65,.0,.35,1) forwards;
}

.cube {
	position: fixed;
	width: 700px;
	height: 700px;
	transform-style: preserve-3d;
}


.cube div {
  border: 1px solid black;
	position: absolute;
	width: 700px;
	height: 700px;
}

.cube-container.vertical .top {
	transform: rotateX(-270deg) translateY(-175px);
}

.cube-container.vertical .back {
	transform: translateZ(-175px) rotateX(180deg);
}

.cube-container.vertical .bottom {
	transform: rotateX(-90deg) translateY(175px);
}

.cubemover {
	position: absolute;
	border: 2px solid white;
	display: inline-block;
}
.cube-mover-oben {
	top: 0;
}
.cube-mover-unten {
	bottom: 0;
}
.cube-mover-links {
	left: 0;
}
.cube-mover-rechts {
	right: 0;
}
.cube-mover-gegenUeber {
	left: 35%;
	top: 60%;
}
